In [1]:
import pandas as pd
import numpy as np

In [51]:
df

               orderid     shopid     userid           event_time
0       31076582227611   93950878   30530270  2019-12-27 00:23:03
1       31118059853484  156423439   46057927  2019-12-27 11:54:20
2       31123355095755  173699291   67341739  2019-12-27 13:22:35
3       31122059872723   63674025  149380322  2019-12-27 13:01:00
4       31117075665123  127249066  149493217  2019-12-27 11:37:55
...                ...        ...        ...                  ...
222745  31245479170194  110868129  193218997  2019-12-28 23:17:59
222746  31230440360374   91639906    3541807  2019-12-28 19:07:20
222747  31191471145838   29391773  135908070  2019-12-28 08:17:52
222748  31198471732255   61556313   27306783  2019-12-28 10:14:31
222749  31164356713822  147941492  127484153  2019-12-28 00:45:56

[222750 rows x 4 columns]

In [138]:
df = pd.read_csv('order_brush_order_revise.csv')

In [145]:
df = df.sort_values(by=['shopid', 'event_time'])
df.head()

               orderid  shopid     userid  event_time
59      31086409141107   10009  196962305   99.100000
9055    31254979546679   10051   48600461   49.933333
76187   31144571933461   10051    2854032  115.266667
188513  31195675919209   10061  168750452   33.450000
174620  31205132327893   10061  194819216   36.083333

In [189]:
category = list(pd.unique(df['shopid']))
len(category)
len(group.get_group(category[i]))

1

In [173]:
group = df.groupby('shopid')

In [187]:
dic = {}
pred = []
for i in range(len(category)):
    if len(group.get_group(category[i])) <= 3:
        dic[category[i]] = 0
    else:
        pred.append(group.get_group(category[i]))

In [196]:
a = pred[0].sort_values(by=['event_time'])

In [204]:
a['event_time'].iloc[0]

33.45

In [ ]:
for k in range(len(pred)):
    cat1 = pred[k].sort_values(by=['event_time'])

    for i in range(1, len(cat1)-1):
        start = cat1['event_time'].iloc[i] 
        while cat1['event_time'].iloc[i+1] - start < 1:
            continue
        record = dict(cat1['event_time'].iloc[:i].value_counts())
        dic[cat1['shopid'].values[0]] = []
        for j in record.keys():
            if len(cat1) / int(record[j]) >= 3:
                dic[cat1['shopid'].values[0]].append(j)
        print(dic)

In [157]:
s = dict(cat1.iloc[:5]['userid'].value_counts())
for j in s.keys():
    print(type(int(s[j])), j)

<class 'int'> 196962305

In [162]:
dic = {}
category1 = category[0]
cat1 = group.get_group(category1)
cat1 = cat1.sort_values(by=['event_time'])
cat1

           orderid  shopid     userid  event_time
59  31086409141107   10009  196962305        99.1

In [159]:
type(cat1['shopid'].values[0])

numpy.int64

In [160]:
dic

{}